<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/pages.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="/js/listHistory.js"></script>
    <script src="/js/users.js" defer></script>
        <script src="/js/popupHandlers.js" defer></script>
        <script src="/js/loadDatabases.js" defer></script>
        <script src="/js/validation.js" defer></script>
    <script src="/js/storage_settings.js" defer></script>
        <script src="/js/backup.js" defer></script>
        <script src="/js/autoBackup.js" defer></script>
        <script src="/js/restoreBackup.js" defer></script>

</head>
<body>
<div class="sidebar">
    <a href="" onclick="showDashboard()">Dashboard</a>
    <a href="#" onclick="showSection('settings')">Settings</a>
    <a href="#" onclick="showSection('backup')">Backup</a>
    <a href="#" onclick="showSection('recovery')">Recovery</a>
    <a href="/logout">Log Out</a>
</div>
<div class="main" id="mainContent">
</div>

<div class="popup" id="backupPopup">
    <div class="popup-content">
        <h3 style="color: #0f172a">Manually backup</h3>
        <form action="/api/backup/execute" method="post" id="backupForm">

            <label for="dbServer">DB Server:</label>
            <input type="text" id="dbServer" name="dbServer" placeholder="DB Server" required>

            <label for="dbUser">DB User:</label>
            <input type="text" id="dbUser" name="dbUser" placeholder="DB User" required>

            <label for="dbPassword">DB Password:</label>
            <input type="password" id="dbPassword" name="dbPassword" placeholder="DB Password" required>

            <label for="databaseName">Choose database:</label>
            <select id="databaseName" name="databaseName">
                <option value="">Loading...</option>
            </select>

            <label for="storageType">Storage Type:</label>
            <select id="storageType" name="storageType" onchange="loadNamesByType(this.value)">
                <option value="LOCAL">LOCAL</option>
                <option value="FTP">FTP</option>
            </select>

            <div id="nameWrapper" style="display:none;">
                <label for="nameSelect">Choose Saved Name:</label>
                <select id="nameSelect"></select>
            </div>

            <button type="submit" id="submit" >Do backup</button>
        </form>
        <button onclick="closePopup()">Close</button>
    </div>
</div>

<div class="popup" id="autoBackupPopup">
    <div class="popup-content">
        <h3>Auto Backup</h3>
        <form action="/api/backup/save" method="post" id="autoBackupForm">

            <label for="dbServer2">DB Server:</label>
            <input type="text" id="dbServer2" name="dbServer2" placeholder="DB Server" required>

            <label for="dbUser2">DB User:</label>
            <input type="text" id="dbUser2" name="dbUser2" placeholder="DB User" required>

            <label for="dbPassword2">DB Password:</label>
            <input type="password" id="dbPassword2" name="dbPassword2" placeholder="DB Password" required>

            <label for="databaseName2">Choose database:</label>
            <select id="databaseName2" name="databaseName2">
                <option value="">Loading...</option>
            </select>

            <label for="storageType2">Storage Type:</label>
            <select id="storageType2" name="storageType2" onchange="loadNamesByType(this.value)">
                <option value="LOCAL">LOCAL</option>
                <option value="FTP">FTP</option>
            </select>

            <div id="nameWrapper2" style="display:none;">
                <label for="nameSelect2">Choose Saved Name:</label>
                <select id="nameSelect2"></select>
            </div>

            <label for="daysKeep2">Days to keep backup:</label>
            <input type="number" id="daysKeep2" name="daysKeep2" min="7" placeholder="Days To Keep" required>

                <label for="frequency">Frequency:</label>
                <select id="frequency" name="frequency">
                    <option value="daily">Every Day</option>
                    <option value="weekly">Every Week</option>
                    <option value="monthly">Every Month</option>
                </select>

                <div id="daySelection" style="display: none;">
                    <label for="day">Day:</label>
                    <select id="day" name="day"></select>
                </div>

                <label for="time">Time:</label>
                <input type="time" id="time" name="time" required>

            <button type="submit" id="autosubmit">Do backup</button>
        </form>
        <button onclick="closeAutoPopup()">Close</button>
    </div>
</div>
<div class="popup" id="restorePopup">
    <div class="popup-content">
        <h3>Manually restore backup</h3>
        <form action="/api/restore/backup" method="post" id="restoreForm">

            <div class="checkbox-group">
                <input type="checkbox" id="res_clusterAdmin">
                <label for="res_clusterAdmin">Do you have cluster admin?</label>
            </div>

            <div id="res_clusterCredentials" style="display: none;">
                <label for="res_clusterUsername">Cluster Username:</label>
                <input type="text" id="res_clusterUsername" placeholder="Cluster Username"><br>

                <label for="res_clusterPassword">Cluster Password:</label>
                <input type="password" id="res_clusterPassword" placeholder="Cluster Password"><br>
            </div>

            <label for="restoreDbServer">Cluster Server:</label>
            <input type="text" id="restoreDbServer" name="restoreDbServer" placeholder="DB Server" required>

            <label for="testDbName">Test Database Name:</label>
            <input type="text" id="testDbName" name="testDbName" placeholder="e.g. test_restore_db" required>

            <label for="restoreDbUser">DB User:</label>
            <input type="text" id="restoreDbUser" name="restoreDbUser" placeholder="DB User" required>

            <label for="restoreDbPassword">DB Password:</label>
            <input type="password" id="restoreDbPassword" name="restoreDbPassword" placeholder="DB Password" required>

            <label for="storageType">Storage Type:</label>
            <label for="res_storageType"></label>
            <select id="res_storageType" name="res_storageType" onchange="loadNamesByType(this.value)">
                <option value="LOCAL">LOCAL</option>
                <option value="FTP">FTP</option>
            </select>

            <div id="res_nameWrapper" style="display:none;">
                <label for="res_nameSelect">Choose Saved Name:</label>
                <select id="res_nameSelect"></select>
            </div>

            <label for="backupFile">Select Backup File:</label>
            <select id="backupFile" name="backupFile"></select>

            <button type="submit" id="submitRestore">Restore Backup</button>
        </form>
        <button onclick="closeRestorePopup()">Close</button>
    </div>
</div>
<div class="popup" id="manageRestorePopup">
    <div class="popup-content">
        <h3>Manage Restored Backups</h3>
        <form id="manageRestoreForm" action="/api/restore/manage" method="post">

            <div class="checkbox-group">
                <input type="checkbox" id="man_clusterAdmin">
                <label for="man_clusterAdmin">Do you have cluster admin?</label>
            </div>

            <div id="man_clusterCredentials" style="display: none;">
                <label for="man_clusterUsername">Cluster Username:</label>
                <input type="text" id="man_clusterUsername" placeholder="Cluster Username"><br>

                <label for="man_clusterPassword">Cluster Password:</label>
                <input type="password" id="man_clusterPassword" placeholder="Cluster Password"><br>
            </div>

            <label for="man_dbServer">DB Server:</label>
            <input type="text" id="man_dbServer" name="man_dbServer" placeholder="DB Server" required>

            <label for="man_dbUser">DB User:</label>
            <input type="text" id="man_dbUser" name="man_dbUser" placeholder="DB User" required>

            <label for="man_dbPassword">DB Password:</label>
            <input type="password" id="man_dbPassword" name="man_dbPassword" placeholder="DB Password" required>

            <label for="selectTestDb">Select Database for delete:</label>
            <select id="selectTestDb" name="selectTestDb" required>
                <option value="">Loading...</option>
            </select>

            <button type="button" onclick="loadInfobases()">Choose database to switch from:</button>
            <label for="sourceDbName">Database to switch from:</label>
            <select id="sourceDbName" name="sourceDbName" required>
                <option value="">Loading...</option>
            </select>

            <div class="checkbox-group">
                <input type="checkbox" id="confirmAction" required>
                <label for="confirmAction">I confirm that I reviewed the restored database and want to proceed.</label>
            </div>

                <button type="submit" id="submitSwitch">Make Switch</button>
                <button type="submit" id="submitDelete">Delete Restored Database</button>

        </form>

        <button onclick="closeManageRestorePopup()">Close</button>
    </div>
</div>
<div class="popup" id="fileBackupPopup">
    <div class="popup-content">
        <h3>Auto Backup</h3>
        <form action="/api/backup/save" method="post" id="fileBackupForm">

            <label for="folderPath">Path to folder with File DB:</label>
            <input type="text" id="folderPath" name="folderPath" placeholder="/opt/baf..." required>

            <label for="daysKeep">Days to keep backup:</label>
            <input type="number" id="daysKeep" name="daysKeep" min="7" placeholder="Days To Keep" required>

            <label for="fileFrequency">Frequency:</label>
            <select id="fileFrequency" name="fileFrequency">
                <option value="daily">Every Day</option>
                <option value="weekly">Every Week</option>
                <option value="monthly">Every Month</option>
            </select>

            <div id="fileDaySelection" style="display: none;">
                <label for="fileDay">Day:</label>
                <select id="fileDay" name="fileDay"></select>
            </div>

            <label for="fileTime">Time:</label>
            <input type="time" id="fileTime" name="fileTime" required>

            <label for="storageType">Storage Type:</label>
            <label for="file_storageType"></label>
            <select id="file_storageType" name="file_storageType" onchange="loadNamesByType(this.value)">
                <option value="FTP">FTP</option>
            </select>

            <div id="file_nameWrapper" style="display:none;">
                <label for="file_nameSelect">Choose Saved Name:</label>
                <select id="file_nameSelect"></select>
            </div>

            <button type="submit" id="filesubmit">Do backup</button>
        </form>
        <button onclick="closeFilePopup()">Close</button>
    </div>
</div>
<div class="popup" id="fileRestorePopup">
    <div class="popup-content">
        <h3>Manually restore backup</h3>
        <form action="/api/restore/backup" method="post" id="fileRestoreForm">

            <label for="restorePath">Restore Path:</label>
            <input type="text" id="restorePath" name="restorePath" placeholder="Restore Path" required>

            <label for="storageType">Storage Type:</label>
            <label for="restore_storageType"></label>
            <select id="restore_storageType" name="restore_storageType" onchange="loadNamesByType(this.value)">
                <option value="FTP">FTP</option>
            </select>

            <div id="restore_nameWrapper" style="display:none;">
                <label for="restore_nameSelect">Choose Saved Name:</label>
                <select id="restore_nameSelect"></select>
            </div>

            <label for="restoreFile">Select Restore File:</label>
            <select id="restoreFile" name="restoreFile"></select>

            <button type="submit" id="submitFileRestore">Restore Backup</button>
        </form>
        <button onclick="closeFileRestorePopup()">Close</button>
    </div>
</div>
<script>
    function loadNamesByType(type) {
        if (!type) return;

        fetch(`/api/storage-settings/names?type=${type}`)
            .then(res => res.json())
            .then(names => {
                const nameSelect = document.getElementById("nameSelect");
                nameSelect.innerHTML = "";

                names.forEach(setting => {
                    const option = document.createElement("option");
                    option.value=setting.name;
                    option.textContent=setting.name;
                    nameSelect.appendChild(option);
                });

                document.getElementById("nameWrapper").style.display = "block";

        const nameSelect2 = document.getElementById("nameSelect2");
        nameSelect2.innerHTML = "";

        names.forEach(setting => {
            const option = document.createElement("option");
            option.value=setting.id;
            option.textContent=setting.name;
            nameSelect2.appendChild(option);
        });

        document.getElementById("nameWrapper2").style.display = "block";

                const res_nameSelect = document.getElementById("res_nameSelect");
                res_nameSelect.innerHTML = "";

                names.forEach(setting => {
                    const option = document.createElement("option");
                    option.value=setting.name;
                    option.textContent=setting.name;
                    res_nameSelect.appendChild(option);
                });

                document.getElementById("res_nameWrapper").style.display = "block";


        const file_nameSelect = document.getElementById("file_nameSelect");
        file_nameSelect.innerHTML = "";

        names.forEach(setting => {
            const option = document.createElement("option");
            option.value=setting.name;
            option.textContent=setting.name;
            file_nameSelect.appendChild(option);
        });

        document.getElementById("restore_nameWrapper").style.display = "block";

                const restore_nameSelect = document.getElementById("restore_nameSelect");
                restore_nameSelect.innerHTML = "";

                names.forEach(setting => {
                    const option = document.createElement("option");
                    option.value=setting.name;
                    option.textContent=setting.name;
                    restore_nameSelect.appendChild(option);
                });

                document.getElementById("restore_nameWrapper").style.display = "block";
    });
    }


    const main = document.getElementById('mainContent');

    function showSection(section) {
        main.classList.add("dashboard");
        if (section === 'settings') {
            main.innerHTML = `
                    <h2>User Settings</h2>
<div class="button-group">
                    <button onclick="addUser()">Add User</button>
                    <button onclick="editUser()">Edit User</button>
                    <button onclick="deleteUser()">Delete User</button>
</div>

<h2>Storage Settings</h2>
<form action="/api/storage-settings/save" method="post" id="storageSettingsForm">
    <label>Name:</label>
    <input type="text" id="name" name="name" required />

    <label>Storage Type:</label>
    <select name="type" id="storageType" required>
    <option value="LOCAL">LOCAL</option>
    <option value="FTP">FTP</option>
</select>

<div id="dynamicFields"></div>

    <button type="button" onclick="saveStorageForm()">Save Settings</button>
</form>

                    <h2>BAF Settings</h2>
                    <form action="/api/storage-settings/baf" method="post" id="bafSettingsForm">

                        <label>Type BAF:</label>
                        <input type="radio" name="bafType" value="file" checked> File based
                        <input type="radio" name="bafType" value="server"> Server based

                        <label>BAF Directory Path:</label>
                        <input type="text" id="bafPath" value="/path/to/baf/">

                        <button type="button" onclick="saveBafSettings()">Save</button>

                    </form>
                `;
            attachFields();

        } else if (section === 'backup') {
            main.innerHTML = '<h2>Backup</h2>' + (currentBafPath === 'file' ? `
                    <div class="button-group">
                        <button onclick="openFilePopup()">File Database backup</button>
                    </div>
                ` : `
                    <div class="button-group">
                        <button onclick="openAutoPopup()">Automatic backup settings</button>
                        <button onclick="openPopup()">Manually backup</button>
                    </div>
                `) + `
<div id="progressContainer"></div>`
                + `<div>
    <h2>Database Backup Logs</h2>
    <pre id="dbLogs" class="log-box">Loading...</pre>
</div>

<div>
    <h2>File Backup Logs</h2>
    <pre id="fileLogs" class="log-box">Loading...</pre>
</div>`;

            fetchAndShowProgress();
            setInterval(monitorLogs, 60000);
            monitorLogs();

        } else if (section === 'recovery') {
            main.innerHTML = '<h2>Recovery</h2>' + (currentBafPath === 'file' ? `
                    <div class="button-group">
                        <button onclick="openFileRestorePopup()">Restore File Database</button>
                    </div>
                ` : `
                    <div class="button-group">
                        <button onclick="openRestorePopup()">Restore the copy</button>
                        <button onclick="openManageRestorePopup()">Manage Restored Backups</button>
                    </div>
                `);
//                 + `
// <div id="progressRestoreContainer"></div>`;
//
//             fetchAndShowRestoreProgress();
        }
    }

    function showDashboard() {
        main.classList.remove("dashboard");
        main.innerHTML = `
        <div class="block" id="block1">
        <h2>Backup History</h2>
        <table id="backupPreviewTable" class="display">
        <thead>
            <tr>
                <th>Status</th>
                <th>Date</th>
                <th>Database Name</th>
            </tr>
        </thead>
        <tbody></tbody>
        </table>
        <a class="show-all-btn" href="/history">Show All</a>
        </div>

        <div class="block" id="block2">
        <h2>Restore History</h2>
        <table id="restorePreviewTable" class="display">
        <thead>
            <tr>
                <th>Status</th>
                <th>Date</th>
                <th>Backup File</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <a class="show-all-btn" href="/history">Show All</a>
        </div>
        <div class="block" id="block3">
        <div class="chart-block">
        <canvas id="activityChart" height="180"></canvas>
        </div>
        </div>
        <div class="block" id="block4">
        <h2>Active configuration</h2>
        <p><strong>Type: </strong> <span id="bafTypeValue">Loading...</span></p>
        <p><strong>Path: </strong> <span id="bafPathValue">Loading...</span></p>
</div>
`;
        loadBackupPreviewHistory();
        loadRestorePreviewHistory();
        getActivityStats();
        loadActiveSettings();
    }
</script>
<script>
    const fieldTemplates = {
        FTP: ['ftp_user', 'ftp_password', 'ftp_host', 'ftp_directory'],
        LOCAL: ['directory']
    };

    function attachFields() {
        const dynamicFields = document.getElementById("dynamicFields");
        const typeSelect = document.getElementById("storageType");


        typeSelect.addEventListener('change', () => {
            dynamicFields.innerHTML = '';
            const fields = fieldTemplates[typeSelect.value] || [];
            fields.forEach(key => {
                dynamicFields.innerHTML += `
            <label>${key}:</label>
            <input type="text" name="${key}" required><br>
`;
            });
        });
    }

    let lastDbLogTime = 0;
    let lastFileLogTime = 0;

    function highlightLogs(text) {
        const lines = text.split('\n').map(line => {
            if (line.includes('✅') || line.toLowerCase().includes('successful')) {
                return `<div class="success">${line}</div>`;
            } else if (line.includes('❌') || line.toLowerCase().includes('error') || line.toLowerCase().includes('failed')) {
                return `<div class="error">${line}</div>`;
            } else {
                return `<div>${line}</div>`;
            }
        });
        return lines.join('');
    }

    function checkDbLogs() {
        fetch('api/logs/auto-db')
            .then(response => response.json())
            .then(data => {
                if (parseInt(data.lastModified) > lastDbLogTime) {
                    const dbLogs = document.getElementById('dbLogs');
                    dbLogs.innerHTML = highlightLogs(data.content);
                    dbLogs.scrollTop = dbLogs.scrollHeight;
                    lastDbLogTime = parseInt(data.lastModified);
                }
            });
    }

    function checkFileLogs() {
        fetch('api/logs/auto-file')
            .then(response => response.json())
            .then(data => {
                if (parseInt(data.lastModified) > lastFileLogTime) {
                    const fileLogs = document.getElementById('fileLogs');
                    fileLogs.innerHTML = highlightLogs(data.content);
                    fileLogs.scrollTop = fileLogs.scrollHeight;
                    lastFileLogTime = parseInt(data.lastModified);
                }
            });
    }

    function monitorLogs() {
        checkDbLogs();
        checkFileLogs();
    }

</script>
<script>

    window.addEventListener('DOMContentLoaded', () => {
        loadBafSettings().then(() => {
            showDashboard();
        })
    })
</script>

</body>
</html>
