<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель адміністратора</title>
    <link rel="stylesheet" href="/css/pages.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="/js/listHistory.js"></script>
    <script src="/js/users.js" defer></script>
        <script src="/js/popupHandlers.js" defer></script>
        <script src="/js/loadDatabases.js" defer></script>
        <script src="/js/validation.js" defer></script>
    <script src="/js/settings.js" defer></script>
        <script src="/js/backup.js" defer></script>
        <script src="/js/autoBackup.js" defer></script>
        <script src="/js/restoreBackup.js" defer></script>

</head>
<body>
<div class="sidebar">
    <a href="" onclick="showDashboard()">Головна панель</a>
    <a href="#" onclick="showSection('settings')">Налаштування</a>
    <a href="#" onclick="showSection('backup')">Резервне копіювання</a>
    <a href="#" onclick="showSection('recovery')">Відновлення</a>
    <a href="/logout">Вийти</a>
</div>
<div class="main" id="mainContent">
</div>

<div class="popup" id="backupPopup">
    <div class="popup-content">
        <h3 style="color: #0f172a">Резервне копіювання вручну</h3>
        <form action="/api/backup/execute" method="post" id="backupForm">

            <label for="dbServer">Сервер БД:</label>
            <input type="text" id="dbServer" name="dbServer" placeholder="Сервер БД" required>

            <label for="dbUser">Користувач БД:</label>
            <input type="text" id="dbUser" name="dbUser" placeholder="Користувач БД" required>

            <label for="dbPassword">Пароль БД:</label>
            <input type="password" id="dbPassword" name="dbPassword" placeholder="Пароль БД" required>

            <label for="databaseName">Виберіть базу даних:</label>
            <select id="databaseName" name="databaseName">
                <option value="">Завантаження...</option>
            </select>

            <label for="storageType">Тип зберігання:</label>
            <select id="storageType" name="storageType" onchange="loadNamesByType(this.value)">
                <option value="LOCAL">LOCAL</option>
                <option value="FTP">FTP</option>
            </select>

            <div id="nameWrapper" style="display:none;">
                <label for="nameSelect">Виберіть збережене ім'я:</label>
                <select id="nameSelect"></select>
            </div>

            <button type="submit" id="submit">Зробіть резервну копію</button>
        </form>
        <button onclick="closePopup()">Закрити</button>
    </div>
</div>

<div class="popup" id="autoBackupPopup">
    <div class="popup-content">
        <h3>Автоматичне резервне копіювання</h3>
        <form action="/api/backup/save" method="post" id="autoBackupForm">

            <label for="dbServer2">Сервер БД:</label>
            <input type="text" id="dbServer2" name="dbServer2" placeholder="Сервер БД" required>

            <label for="dbUser2">Користувач БД:</label>
            <input type="text" id="dbUser2" name="dbUser2" placeholder="Користувач БД" required>

            <label for="dbPassword2">Пароль БД:</label>
            <input type="password" id="dbPassword2" name="dbPassword2" placeholder="Пароль БД" required>

            <label for="databaseName2">Виберіть базу даних:</label>
            <select id="databaseName2" name="databaseName2">
                <option value="">Завантаження...</option>
            </select>

            <label for="storageType2">Тип зберігання:</label>
            <select id="storageType2" name="storageType2" onchange="loadNamesByType(this.value)">
                <option value="LOCAL">LOCAL</option>
                <option value="FTP">FTP</option>
            </select>

            <div id="nameWrapper2" style="display:none;">
                <label for="nameSelect2">Виберіть збережене ім'я:</label>
                <select id="nameSelect2"></select>
            </div>

            <label for="daysKeep2">Дні для збереження резервної копії:</label>
            <input type="number" id="daysKeep2" name="daysKeep2" min="7" placeholder="Дні для збереження" required>

                <label for="frequency">Частота:</label>
                <select id="frequency" name="frequency">
                    <option value="daily">Кожен день</option>
                    <option value="weekly">Кожного тижня</option>
                    <option value="monthly">Кожен місяць</option>
                </select>

                <div id="daySelection" style="display: none;">
                    <label for="day">День:</label>
                    <select id="day" name="day"></select>
                </div>

                <label for="time">Час:</label>
                <input type="time" id="time" name="time" required>

            <button type="submit" id="autosubmit">Зробіть резервну копію</button>
        </form>
        <button onclick="closeAutoPopup()">Закрити</button>
    </div>
</div>
<div class="popup" id="restorePopup">
    <div class="popup-content">
        <h3>Відновити резервну копію вручну</h3>
        <form action="/api/restore/backup" method="post" id="restoreForm">

            <div class="checkbox-group">
                <input type="checkbox" id="res_clusterAdmin">
                <label for="res_clusterAdmin">У вас є адміністратор кластера?</label>
            </div>

            <div id="res_clusterCredentials" style="display: none;">
                <label for="res_clusterUsername">Ім'я користувача кластера:</label>
                <input type="text" id="res_clusterUsername" placeholder="Ім'я користувача кластера"><br>

                <label for="res_clusterPassword">Пароль кластера:</label>
                <input type="password" id="res_clusterPassword" placeholder="Пароль кластера"><br>
            </div>

            <label for="restoreDbServer">Сервер БД:</label>
            <input type="text" id="restoreDbServer" name="restoreDbServer" placeholder="Сервер БД" required>

            <label for="testDbName">Назва тестової бази даних:</label>
            <input type="text" id="testDbName" name="testDbName" placeholder="e.g. test_restore_db" required>

            <label for="restoreDbUser">Користувач БД:</label>
            <input type="text" id="restoreDbUser" name="restoreDbUser" placeholder="Користувач БД" required>

            <label for="restoreDbPassword">Пароль БД:</label>
            <input type="password" id="restoreDbPassword" name="restoreDbPassword" placeholder="Пароль БД" required>

            <label for="storageType">Тип зберігання:</label>
            <label for="res_storageType"></label>
            <select id="res_storageType" name="res_storageType" onchange="loadNamesByType(this.value)">
                <option value="LOCAL">LOCAL</option>
                <option value="FTP">FTP</option>
            </select>

            <div id="res_nameWrapper" style="display:none;">
                <label for="res_nameSelect">Виберіть Збережене ім'я:</label>
                <select id="res_nameSelect"></select>
            </div>

            <label for="backupFile">Виберіть Файл резервної копії:</label>
            <select id="backupFile" name="backupFile"></select>

            <button type="submit" id="submitRestore">Відновити резервну копію</button>
        </form>
        <button onclick="closeRestorePopup()">Закрити</button>
    </div>
</div>
<div class="popup" id="manageRestorePopup">
    <div class="popup-content">
        <h3>Керування відновленими резервними копіями</h3>
        <form id="manageRestoreForm" action="/api/restore/manage" method="post">

            <div class="checkbox-group">
                <input type="checkbox" id="man_clusterAdmin">
                <label for="man_clusterAdmin">У вас є адміністратор кластера?</label>
            </div>

            <div id="man_clusterCredentials" style="display: none;">
                <label for="man_clusterUsername">Ім'я користувача кластера:</label>
                <input type="text" id="man_clusterUsername" placeholder="Ім'я користувача кластера"><br>

                <label for="man_clusterPassword">Пароль кластера:</label>
                <input type="password" id="man_clusterPassword" placeholder="Пароль кластера"><br>
            </div>

            <label for="man_dbServer">Сервер БД:</label>
            <input type="text" id="man_dbServer" name="man_dbServer" placeholder="Сервер БД" required>

            <label for="man_dbUser">Користувач БД:</label>
            <input type="text" id="man_dbUser" name="man_dbUser" placeholder="Користувач БД" required>

            <label for="man_dbPassword">Пароль БД:</label>
            <input type="password" id="man_dbPassword" name="man_dbPassword" placeholder="Пароль БД" required>

            <label for="selectTestDb">Виберіть базу даних для видалення:</label>
            <select id="selectTestDb" name="selectTestDb" required>
                <option value="">Завантаження...</option>
            </select>

            <button type="button" onclick="loadInfobases()">Виберіть базу даних для переходу:</button>
            <select id="sourceDbName" name="sourceDbName" required>
                <option value="">Завантаження...</option>
            </select>

            <div class="checkbox-group">
                <input type="checkbox" id="confirmAction" required>
                <label for="confirmAction">Я підтверджую, що переглянув відновлену базу даних і хочу продовжити.</label>
            </div>

                <button type="submit" id="submitSwitch">Зробіть перемикач</button>
                <button type="submit" id="submitDelete">Видалити відновлену базу даних</button>

        </form>

        <button onclick="closeManageRestorePopup()">Закрити</button>
    </div>
</div>
<div class="popup" id="fileBackupPopup">
    <div class="popup-content">
        <h3>Автоматичне резервне копіювання</h3>
        <form action="/api/backup/save" method="post" id="fileBackupForm">

            <label for="folderPath">Шлях до папки з файловою базою даних:</label>
            <input type="text" id="folderPath" name="folderPath" placeholder="/opt/baf..." required>

            <label for="daysKeep">Дні для збереження резервної копії:</label>
            <input type="number" id="daysKeep" name="daysKeep" min="7" placeholder="Дні для збереження" required>

            <label for="fileFrequency">Частота:</label>
            <select id="fileFrequency" name="fileFrequency">
                <option value="daily">Кожен день</option>
                <option value="weekly">Кожного тижня</option>
                <option value="monthly">Кожен місяць</option>
            </select>

            <div id="fileDaySelection" style="display: none;">
                <label for="fileDay">День:</label>
                <select id="fileDay" name="fileDay"></select>
            </div>

            <label for="fileTime">Час:</label>
            <input type="time" id="fileTime" name="fileTime" required>

            <label for="storageType">Тип зберігання:</label>
            <label for="file_storageType"></label>
            <select id="file_storageType" name="file_storageType" onchange="loadNamesByType(this.value)">
                <option value="FTP">FTP</option>
                <option value="">Iнше...</option>
            </select>

            <div id="file_nameWrapper" style="display:none;">
                <label for="file_nameSelect">Виберіть збережене ім'я:</label>
                <select id="file_nameSelect"></select>
            </div>

            <button type="submit" id="filesubmit">Зробіть резервну копію</button>
        </form>
        <button onclick="closeFilePopup()">Закрити</button>
    </div>
</div>
<div class="popup" id="fileRestorePopup">
    <div class="popup-content">
        <h3>Відновити резервну копію вручну</h3>
        <form action="/api/restore/backup" method="post" id="fileRestoreForm">

            <label for="restorePath">Відновити шлях:</label>
            <input type="text" id="restorePath" name="restorePath" placeholder="Відновити шлях" required>

            <label for="storageType">Тип зберігання:</label>
            <label for="restore_storageType"></label>
            <select id="restore_storageType" name="restore_storageType" onchange="loadNamesByType(this.value)">
                <option value="FTP">FTP</option>
                <option value="">Iнше...</option>
            </select>

            <div id="restore_nameWrapper" style="display:none;">
                <label for="restore_nameSelect">Виберіть збережене ім'я:</label>
                <select id="restore_nameSelect"></select>
            </div>

            <label for="restoreFile">Виберіть файл для відновлення:</label>
            <select id="restoreFile" name="restoreFile"></select>

            <button type="submit" id="submitFileRestore">Відновити резервну копію</button>
        </form>
        <button onclick="closeFileRestorePopup()">Закрити</button>
    </div>
</div>
<script>
    function loadNamesByType(type) {
        if (!type) return;

        fetch(`/api/settings/get-storage-settings?type=${type}`)
            .then(res => res.json())
            .then(names => {
                const nameSelect = document.getElementById("nameSelect");
                nameSelect.innerHTML = "";

                names.forEach(setting => {
                    const option = document.createElement("option");
                    option.value=setting.name;
                    option.textContent=setting.name;
                    nameSelect.appendChild(option);
                });

                document.getElementById("nameWrapper").style.display = "block";

        const nameSelect2 = document.getElementById("nameSelect2");
        nameSelect2.innerHTML = "";

        names.forEach(setting => {
            const option = document.createElement("option");
            option.value=setting.id;
            option.textContent=setting.name;
            nameSelect2.appendChild(option);
        });

        document.getElementById("nameWrapper2").style.display = "block";

                const res_nameSelect = document.getElementById("res_nameSelect");
                res_nameSelect.innerHTML = "";

                names.forEach(setting => {
                    const option = document.createElement("option");
                    option.value=setting.name;
                    option.textContent=setting.name;
                    res_nameSelect.appendChild(option);
                });

                document.getElementById("res_nameWrapper").style.display = "block";

        const file_nameSelect = document.getElementById("file_nameSelect");
        file_nameSelect.innerHTML = "";

        names.forEach(setting => {
            const option = document.createElement("option");
            option.value=setting.id;
            option.textContent=setting.name;
            file_nameSelect.appendChild(option);
        });

        document.getElementById("file_nameWrapper").style.display = "block";

                const restore_nameSelect = document.getElementById("restore_nameSelect");
                restore_nameSelect.innerHTML = "";

                names.forEach(setting => {
                    const option = document.createElement("option");
                    option.value=setting.name;
                    option.textContent=setting.name;
                    restore_nameSelect.appendChild(option);
                });

                document.getElementById("restore_nameWrapper").style.display = "block";
    });
    }


    const main = document.getElementById('mainContent');

    function showSection(section) {
        main.classList.add("dashboard");
        if (section === 'settings') {
            main.innerHTML = `
                    <h2>Налаштування користувача</h2>
                    <table id="usersTable">
                    <thead>
                    <tr>
                    <th>Ім'я користувача</th>
                    <th>Роль</th>
</tr>
</thead>
<tbody></tbody>
</table>
<div class="button-group">
                    <button onclick="addUser()">Додати користувача</button>
                    <button onclick="editUser()">Редагувати користувача</button>
                    <button onclick="deleteUser()">Видалити користувача</button>
</div>

<h2>Налаштування зберігання</h2>
<form action="/api/settings/storage-settings-save" method="post" id="storageSettingsForm">
    <label>Ім'я:</label>
    <input type="text" id="name" name="name" required />

    <br><br>

    <label>Тип зберігання:</label>
    <select name="type" id="storageType" required>
    <option value="LOCAL">LOCAL</option>
    <option value="FTP">FTP</option>
</select>

<div id="dynamicFields"></div>

    <button type="button" onclick="saveStorageForm()">Зберегти</button>
</form>

                    <h2>BAF Налаштування</h2>
                    <form action="/api/settings/baf-settings-save" method="post" id="bafSettingsForm">

                        <label>Тип BAF:</label>
                        <input type="radio" name="bafType" value="file" checked> Файловий
                        <input type="radio" name="bafType" value="server"> Серверний

                        <br><br>

                        <label>Шлях каталогу BAF:</label>
                        <input type="text" id="bafPath" value="/path/to/baf/">

                        <button type="button" onclick="saveBafSettings()">Зберегти</button>

                    </form>
                `;
            loadAllUsers();
            attachFields();

        } else if (section === 'backup') {
            main.innerHTML = '<h2>Резервне копіювання</h2>' + (currentBafPath === 'file' ? `
                    <div class="button-group">
                        <button onclick="openFilePopup()">Резервне копіювання бази даних файлів</button>
                    </div>
                ` + `<div>
                        <h2>Журнали резервного копіювання файлів</h2>
                        <pre id="fileLogs" class="log-box">Завантаження...</pre>
                     </div>` : `
                    <div class="button-group">
                        <button onclick="openAutoPopup()">Налаштування автоматичного резервного копіювання</button>
                        <button onclick="openPopup()">Резервне копіювання вручну</button>
                    </div>
                ` + `<div>
                        <h2>Журнали резервного копіювання бази даних</h2>
                        <pre id="dbLogs" class="log-box">Завантаження...</pre>
                     </div>
                `) + `
<div id="progressContainer"></div>`;

            fetchAndShowProgress();
            setInterval(monitorLogs, 60000);
            monitorLogs();

        } else if (section === 'recovery') {
            main.innerHTML = '<h2>Відновлення</h2>' + (currentBafPath === 'file' ? `
                    <div class="button-group">
                        <button onclick="openFileRestorePopup()">Відновити базу даних файлів</button>
                    </div>
                ` : `
                    <div class="button-group">
                        <button onclick="openRestorePopup()">Відновити копію</button>
                        <button onclick="openManageRestorePopup()">Керування відновленими резервними копіями</button>
                    </div>
                `);
        }
    }

    function showDashboard() {
        main.classList.remove("dashboard");
        main.innerHTML = `
        <div class="block" id="block1">
        <h2>Історія резервного копіювання</h2>
        <table id="backupPreviewTable" class="display">
        <thead>
            <tr>
                <th>Статус</th>
                <th>Дата</th>
                <th>Ім'я бази даних</th>
            </tr>
        </thead>
        <tbody></tbody>
        </table>
        <a class="show-all-btn" href="/history">Показати все</a>
        </div>

        <div class="block" id="block2">
        <h2>Відновити історію</h2>
        <table id="restorePreviewTable" class="display">
        <thead>
            <tr>
                <th>Статус</th>
                <th>Дата</th>
                <th>Файл резервної копії</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <a class="show-all-btn" href="/history">Показати все</a>
        </div>
        <div class="block" id="block3">
        <div class="chart-block">
        <canvas id="activityChart" height="180"></canvas>
        </div>
        </div>
        <div class="block" id="block4">
        <h2>Активна конфігурація</h2>
        <p><strong>Тип:</strong> <span id="bafTypeValue">Завантаження...</span></p>
        <p><strong>Шлях:</strong> <span id="bafPathValue">Завантаження...</span></p>
</div>
`;
        loadBackupPreviewHistory();
        loadRestorePreviewHistory();
        getActivityStats();
        loadActiveSettings();
    }
</script>
<script>
    const fieldTemplates = {
        FTP: ['ftp_user', 'ftp_password', 'ftp_host', 'ftp_directory'],
        LOCAL: ['directory']
    };

    function attachFields() {
        const dynamicFields = document.getElementById("dynamicFields");
        const typeSelect = document.getElementById("storageType");


        typeSelect.addEventListener('change', () => {
            dynamicFields.innerHTML = '';
            const fields = fieldTemplates[typeSelect.value] || [];
            fields.forEach(key => {
                dynamicFields.innerHTML += `
            <label>${key}:</label>
            <input type="text" name="${key}" required><br>
`;
            });
        });
    }

    let lastDbLogTime = 0;
    let lastFileLogTime = 0;

    function highlightLogs(text) {
        const lines = text.split('\n').map(line => {
            if (line.includes('✅') || line.toLowerCase().includes('successful')) {
                return `<div class="success">${line}</div>`;
            } else if (line.includes('❌') || line.toLowerCase().includes('error') || line.toLowerCase().includes('failed')) {
                return `<div class="error">${line}</div>`;
            } else {
                return `<div>${line}</div>`;
            }
        });
        return lines.join('');
    }

    function checkDbLogs() {
        fetch('api/logs/auto-db')
            .then(response => response.json())
            .then(data => {
                if (parseInt(data.lastModified) > lastDbLogTime) {
                    const dbLogs = document.getElementById('dbLogs');
                    dbLogs.innerHTML = highlightLogs(data.content);
                    dbLogs.scrollTop = dbLogs.scrollHeight;
                    lastDbLogTime = parseInt(data.lastModified);
                }
            });
    }

    function checkFileLogs() {
        fetch('api/logs/auto-file')
            .then(response => response.json())
            .then(data => {
                if (parseInt(data.lastModified) > lastFileLogTime) {
                    const fileLogs = document.getElementById('fileLogs');
                    fileLogs.innerHTML = highlightLogs(data.content);
                    fileLogs.scrollTop = fileLogs.scrollHeight;
                    lastFileLogTime = parseInt(data.lastModified);
                }
            });
    }

    function monitorLogs() {
        checkDbLogs();
        checkFileLogs();
    }

</script>
<script>

    window.addEventListener('DOMContentLoaded', () => {
            showDashboard();
    })
</script>

</body>
</html>
